@import "tailwindcss";

@theme {
    --color-body: #ecefca;
    --color-dark: #32021f;
    --color-dark-50: #593647;
    --color-primary: #614b64;
    --color-light-50: #6c7a89;
    --color-light: #6c939d;
}

body {
    @apply text-body;
    @apply bg-dark-50;
}

.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.success {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}